.tasks {
  height: var(--tasks-height);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--dark-gray);
  border-top: 2px solid var(--medium-gray);
  color: var(--light-gray);
  text-align: center;
}

.tasks li {
  cursor: pointer;
  height: 100%;
  width: auto;
  transition: color 0.2s ease;
  display: flex;
  flex: 1 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tasks li:hover {
  color: var(--light-blue);
}

.tasks li:not(:last-child) {
    border-right: 2px solid var(--medium-gray);
}
