.element {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.element-preview {
  height: 40%;
  width: 100%;
  overflow: auto;
  background: var(--black);
  color: var(--white);
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-division) solid var(--medium-gray);
}

.element-preview > div {
  padding: var(--half-margin);
  background: var(--dark-gray);
  margin: var(--margin);
}

.element-bottom {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
}

.element-preview h2 {
  margin: 0;
  padding: 0;
}

.element-static {
  width: 50%;
  max-width: 400px;
  height: 100%;
  background: var(--black);
}

.element-child {
  width: 50%;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  background: var(--black);
  border-left: var(--border-division) solid var(--medium-gray);
}

.element-child .container {
  padding: var(--margin);
}

.element .list {
  flex: 1 0 auto;
  height: calc(100% - var(--tasks-height));
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .element {
    overflow-y: auto;
    flex-flow: column nowrap;
  }

  .element-bottom {
    overflow-y: auto;
  }

  .element-child {
    width: 100%;
    height: auto;
    border-left: none;
    border-top: var(--border-division) solid var(--medium-gray);
  }

  .element-static {
    max-width: none;
    width: 100%;
    height: auto;
  }

  .element .list {
    height: auto;
  }
}
