.container.settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
  padding: var(--margin);
}

.settings .dark-container {
  width: 80%;
  max-width: 600px;
  padding: var(--margin);
  margin: auto;
}

.load {
  width: 100%;
  height: 200px;
  font-size: 1.6em;
  letter-spacing: 0.6em;
  line-height: 1.5em;
  color: var(--dark-blue);
  margin: var(--margin) auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.load .drop {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease;
  background: var(--black);
  border: 2px solid var(--dark-blue);
}

.load .active-drop {
  color: var(--light-blue);
  border-color: var(--light-blue);
  background: var(--dark-gray);
}
